# Section 1

Query 1: Select all counties in Alaska

In [76]:
STATEFP = '02'

In [77]:
'"STATEFP" = \'02\''

'"STATEFP" = \'02\''

In [78]:
query_test = '"STATEFP" = \'02\''

In [79]:
query_test = '"STATEFP" = \'02\''.format()

In [80]:
col = "STATEFP"
val = '02'

In [81]:
col = "STATEFP"
val = '02'
query_test = '"{0}" = \'{1}\''.format(col, val)

In [82]:
print(query_test)

"STATEFP" = '02'

In [83]:
col = "STATEFP"
val = '02'
query_test = '"{0}" = \'{1}\''.format(col, val)
print(query_test)

"STATEFP" = '02'

Query 2: All counties in Oregon, Montana, and Washington,

In [84]:
STATEFP = '30', '41', '53'

In [85]:
'"STATEFP" = \'30\', \'41\', \'53\''

'"STATEFP" = \'30\', \'41\', \'53\''

In [86]:
query_test2 = '"STATEFP" = \'30\', \'41\', \'53\''

In [87]:
query_test2 = '"STATEFP" = \'30\', \'41\', \'53\''.format()

In [88]:
col = "STATEFP"
val = '30', '41', '53'

In [91]:
col = "STATEFP"
val = '30', '41', '53'
query_test2 = '"{0}" = \'{1}\''.format(col, val)

In [92]:
print(query_test2)

"STATEFP" = '('30', '41', '53')'

In [93]:
col = "STATEFP"
val = '30', '41', '53'
query_test2 = '"{0}" = \'{1}\''.format(col, val)
print(query_test2)

"STATEFP" = '('30', '41', '53')'

Query 3

In [108]:
"pop >= 500000"

'pop >= 500000'

In [110]:
query_test3 = "\"pop\" >= 500000"

In [111]:
query_test3 = "\"pop\" >= 500000".format()

In [116]:
col = "pop"
val >= "500000"

True

In [117]:
col = "pop"
val >= "500000"
query_test3 = '"{0}" = \'{1}\''.format(col, val)

In [118]:
print(query_test3)

"pop" = '500000'

Query 4

In [109]:
nam = 'Albany'

In [119]:
'"nam" = \'Albany\''

'"nam" = \'Albany\''

In [123]:
query_test4 = '"nam" = \'Albany\''

In [124]:
query_test4 = '"nam" = \'Albany\''.format()

In [122]:
col = "nam"
val = 'Albany'

In [125]:
col = "nam"
val = 'Albany'
query_test4 = '"{0}" = \'{1}\''.format(col, val)

In [126]:
print(query_test4)

"nam" = 'Albany'

Query 5

In [127]:
"pop >= 10000 AND pop <= 100000"

'pop >= 10000 AND pop <= 100000'

In [128]:
query_test5 = "\"pop\" >= 10000 AND \"pop\" <= 100000"

In [130]:
col = "pop"
val = '10000' and '100000'

In [132]:
col = "pop"
val = '10000' and '100000'
query_test5 = '"{0}" = \'{1}\''.format(col, val)

In [133]:
print(query_test5)

"pop" = '100000'

I could not figure out how to fix this for both parameters